/* Styles by -  Samnad. S */
#primary_nav_wrap li:has(ul li a.active)>a {
    background: #fff;
    color: #333 !important;
}
#primary_nav_wrap ul li ul li .active {
    background: #4c656e;
    color: #fff !important;
}
.time_grid.loading{
    cursor: progress;
}
/************************ hide arrow from input number types **************************/
/* Chrome, Safari, Edge, Opera */
input[type=number].no-arrows::-webkit-outer-spin-button,
input[type=number].no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number].no-arrows {
    -moz-appearance: textfield;
}
/************************ hide arrow from input number types END **********************/